.app {
  display: flex;
}
.page {
  width: 85%;
}

.aside {
  height: 100vh;
  padding: 50px 15px;
  flex-grow: 1;
  background-color: #fafafa;
  border-right: 1px solid #aaa;
}

.link {
  display: block;
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: green;
  text-decoration: none;
}

.link:not(:last-of-type) {
  margin-bottom: 30px;
}

.link:hover {
  color: #000;
}

.tickTackToe {
}
